API_KEY=your_api_key
APP_ID=your_api_id

GENDER = your_gender
WEIGHT_KG = your_weight
HEIGHT_CM = your_height
AGE = your_age

EXERCISE_ENDPOINT=your_nutritionix_exercise_endpoint_url
SHEETY_ENDPOINT=your_sheety_project_endpoint_url